---
import "../styles/global.css";
---

<div class="bg-red-500 text-white text-4xl font-bold p-10 rounded-xl">
  TEST TAILWIND DIRECTO
</div>

<div class="bg-accent text-ink p-10 mt-10">
  TEST COLORES PERSONALIZADOS
</div>
